.StatisticsPanel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid;
  &__Title {
    font-size: 20px;
  }
  &__Content {
    &__Num {
      font-size: 48px;
      line-height: 1.2;
      margin-left: 20px;
      font-weight: bold;
    }
    &__Unit {
      font-size: 20px;
      margin-left: 4px;
    }
    &__ClothSearch {
      padding: 3px;
    }
  }
}